{% extends 'employers.html' %}
{% load static %}

{% block content %}
<div class="container col-12">
    {% include 'settings.html' %}

        <div class="col-8">
           <div class="card card-custom">
                <div class="card-header">
                    <div class="card-title align-items-start mb-0">
                        <span class="mb-0 text-dark">Password Settings</span>
                    </div>
                </div>
                <div class="p-5 bg-white password">
                    <div class="row mb-2">
                        <div class="col-6 text-dark">
                            <label>Current Password</label><br>
                            <input class="form-control w-75" type="password" placeholder="{{ user.password }}" disabled>
                        </div>
                        <div class="col-6 text-dark">
                            <label>New Password</label><br>
                            <input class="form-control w-75" type="password" placeholder="" disabled>
                        </div>
                    </div>
                    <br><br>
                    <div class="row mb-2">
                        <div class="col-6 text-dark">
                            <label>New Password Confirmation</label><br>
                            <input class="form-control w-75" type="password" placeholder="" disabled>
                        </div>
                    </div>

                    <br><br><br>
                    <button type="button" class="btn btn-primary mr-3" onclick="update()">Update</button>
                </div>
                <form action="{% url 'employers:password' %}" method="post" class="p-5 bg-white" hidden>
                    {% csrf_token %}
                    
                    <div class="row mb-2">
                        <div class="col-6 text-dark">
                            <label>Current Password</label><br>
                            <input class="form-control w-75" type="password" name="old_password" autocomplete="current-password" autofocus="" required="" id="id_old_password">
                        </div>
                        <div class="col-6 text-dark">
                            <label>New Password</label><br>
                            <input class="form-control w-75" type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1">
                        </div>
                    </div>
                    <br><br>
                    <div class="row mb-2">
                        <div class="col-6 text-dark">
                            <label>New Password Confirmation</label><br>
                            <input class="form-control w-75" type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
                        </div>
                    </div>

                    <br><br><br>
                    <button type="submit" class="btn btn-primary mr-3">Save</button>
                    <a href="{% url 'employers:password' %}" class="btn btn-danger">Cancel</a>
                </form>
            </div>
        </div>
    </div>
    <br><br>
</div>

<script type="text/javascript">
function update() {
    $(".password").hide();
    $("form").prop("hidden", false);
}
</script>
{% endblock content %}