{% extends 'account.html' %}
{% load static %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container col-12 pr-0">
        <a href="/employers/homepage" class="navbar-brand" >CareerCare</a>
        <div class="collapse navbar-collapse justify-content-end" id="ftco-nav">
            <ul class="navbar-nav">
                <li class="nav-item"><a href="{% url 'home:home' %}" class="nav-link candidate">Job Seeker Site</a></li>
                <div class="border-right"></div>
                <li class="nav-item"><a href="{% url 'employers:login' %}" class="nav-link ml-2">Login</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container col-12">
    <div class="row">
        <div class="col px-0 acc-bg"></div>
        <div class="col mx-auto mt-3">
            <br><br><br><br>
            <h5 class="text-center mt-3">Sign Up</h5>
            <form action="{% url 'employers:signup' %}" method="post" class="p-5 text-center">
                {% csrf_token %}

                <div class="row d-flex justify-content-center">
                    <div class="col-5 pr-1">
                        {{ form.first_name }}
                    </div>
                    <div class="col-5 pl-1">
                        {{ form.last_name }}
                    </div>
                </div><br>
                <div class="row d-flex justify-content-center">
                    <div class="col-5 pr-1">
                        {{ form.username }}
                        {% if form.errors.username %}
                            <div class="w-75 mx-auto mt-1">
                                <div class="text-left">
                                    <div class="text-danger error">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-exclamation-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                            <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                                        </svg>
                                        &nbsp; Already exists.
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-5 pl-1">
                        {{ form.email }}
                    </div>
                </div><br>
                <div class="row d-flex justify-content-center">
                    <div class="col-11 p-0">
                        <input type="password" class="form-control w-75" name="password1" placeholder="Password" autocomplete="new-password" required="" id="id_password1">
                        {% if form.errors.password1 %}
                            <div class="w-75 mx-auto mt-1">
                                <div class="text-left">
                                    <div class="text-danger error">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-exclamation-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                            <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                                        </svg>
                                        &nbsp; Must contain at least 8 characters. Can't be entirely numeric.
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div><br>
                <div class="row d-flex justify-content-center">
                    <div class="col-11 p-0">
                        <input type="password" class="form-control w-75" name="password2" placeholder="Password Confirmation" autocomplete="new-password" required="" id="id_password2">
                        {% if form.errors %}
                            <div class="w-75 mx-auto mt-1">
                                <div class="text-left">
                                    <div class="text-danger error">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-exclamation-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                            <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                                        </svg>
                                        &nbsp; Password mismatch.
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div><br>
                <div class="row d-flex justify-content-center">
                    <div class="col-11 p-0">
                        <select class="custom-select w-75" type="text" name="role" required id="id_role">
                            <option value="" disabled selected>-- Select role --</option>
                            <option value="employers">Organisation</option>
                            <option value="individual">Individual</option>
                        </select>
                    </div>
                </div>
                <br><br><br>
                <div class="row d-flex justify-content-center">
                    <div class="col-11 p-0">
                        <span>Already have an account? </span>
                        <a href="{% url 'employers:login' %}" class="acc-link mr-4 pr-4">Log in &nbsp;</a>
                        <span class="ml-5">
                            <button class="btn btn-primary py-2 px-3" type="submit">Sign up</button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}