{% extends 'employers.html' %}
{% load static %}
{% block content %}

<div class="container col-12">
    <div class="row align-items-center">
        <div class="col-lg-7 ml-auto order-lg-2">
            <img src="/static/images/resumeanalyzer/home1.png" style="width:800px;height:650px;float:right">
        </div>
        <div class="col-lg-5">
            <h1>Resume Matching</h1>
            <p>Designed for the use of recruiters to help speed up the repetitive process of screening resumes.</p>
            <div class="dropdown">
                <a href="{% url 'resumeanalyzer:uploadresume' %}" class="btn btn-primary py-2 px-3" style="margin:5px;"
                role="button">Import resume(s)</a>
                <a href="{% url 'resumeanalyzer:uploadjob' %}" class="btn btn-info py-2 px-3" style="margin:5px;"
                role="button">Perform Matching</a>
            </div>
        </div>
    </div>
</div>

<h3 style="text-align:center">How it works</h3><br>
<table style="margin-left:auto; margin-right:auto;">
    <tr>
        <th width="400px" style="text-align:center"><img src="/static/images/resumeanalyzer/upload.png"
                style="width:150px;height:200px;"></th>
        <th width="400px" style="text-align:center"><img src="/static/images/resumeanalyzer/scan.png"
                style="width:150px;height:200px;"></th>
        <th width="400px" style="text-align:center"><img src="/static/images/resumeanalyzer/result.png"
                style="width:150px;height:200px;"></th>
    </tr>
    <tr>
        <th width="400px" style="text-align:center">
            <p>Import resumes and upload job description to perform matching.</p>
        </th>
        <th width="400px" style="text-align:center">
            <p>Wait while the magic happens.</p>
        </th>
        <th width="400px" style="text-align:center">
            <p>View ranking and visualisation of resumes according to the matching percentage with job description.</p>
        </th>
    </tr>
</table>
<br><br><br><br>

<h3 style="text-align:center">Our Key Features</h3><br>
<table style="margin-left:auto; margin-right:auto;">
    <tr>
        <th width="400px" style="text-align:center"><img src="/static/images/resumeanalyzer/process.png"
                style="width:150px;height:150px;"></th>
        <th width="400px" style="text-align:center"><img src="/static/images/resumeanalyzer/extract.png"
                style="width:150px;height:150px;"></th>
        <th width="400px" style="text-align:center"><img src="/static/images/resumeanalyzer/ranking.png"
                style="width:150px;height:150px;"></th>
        <th width="400px" style="text-align:center"><img src="/static/images/resumeanalyzer/visualisation.png"
                style="width:150px;height:150px;"></th>
    
    </tr>
    <tr>
        <th width="400px" style="text-align:center">
            <p>Process a large volume of resumes.</p>
        </th>
        <th width="400px" style="text-align:center">
            <p>Extract information from resumes <br>and generate a summary.</p>
        </th>
        <th width="400px" style="text-align:center">
            <p>Perform ranking based on matching percentage.</p>
        </th>
        <th width="400px" style="text-align:center">
            <p>Perform visualisation.</p>
        </th>
    </tr>
</table>
<br><br><br><br>

{% endblock content %}