{% extends 'employers.html' %}
{% load static %}
{% block content %}

{% if messages %}
<div class="message">
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show" id="msg" style="margin-left: 12%">
    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
    {{ message }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endfor %}
</div>
{% endif %}

<div class="ftco-section bg-light">
  <div class="container">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'resumeanalyzer:uploadresume' %}">Import Resume(s)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'resumeanalyzer:resumelist' %}">View All Resumes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'resumeanalyzer:uploadjob' %}">Perform Matching</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'resumeanalyzer:history' %}">View Matching History</a>
      </li>
    </ul>
    <br><br>
    <a href="{% url 'resumeanalyzer:uploadresume' %}" class="btn btn-sm btn-secondary">Back</a><br><br>
    <div class="row">
      <div class="col-xl-12">
        <div class="card bg-light shadow h-100">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">All Resumes</h3>
              </div>
              <div class="col-4 text-right">
                <a href="{% url 'resumeanalyzer:uploadresume' %}" class="btn btn-sm btn-success">Import Resume(s)</a>
                <a href="{% url 'resumeanalyzer:uploadjob' %}" class="btn btn-sm btn-info">Perform Matching</a>
              </div>
            </div>
          </div>
          {% if resumes|length < 1 %} 
          <div class="text-center">
            <div class="image-container">
              <br><br><br>
              <img src="/static/images/empty.png" height="200">
            </div>
            <p class="mt-4 no-posted-job">No resume found.</p><br><br><br>
          </div>
        </div>
        {% else %}
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              {% for resume in resumes %}
              <tr>
                <td>{{ forloop.counter}}</td>
                <td><a href="{% url 'resumeanalyzer:details' resume.resumeid %}" target="_blank">{{ resume.name|upper }}</a>
                </td>
                <td>{{ resume.status }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock content %}