{% extends 'user_layout.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}
<div class = "profile">
<div class="bg-light border-right profile" id="sidebar-wrapper">
    <div class="sidebar-heading">Profile </div>
    <div class="list-group list-group-flush">
      <a href="#personal_details" class="list-group-item list-group-item-action bg-light">Personal Details</a>
      <a href="#education" class="list-group-item list-group-item-action bg-light">Education</a>
      <a href="#skills" class="list-group-item list-group-item-action bg-light">Skills</a>
      <a href="#experience" class="list-group-item list-group-item-action bg-light">Working Experience</a>
      <a href="#add_info" class="list-group-item list-group-item-action bg-light">Additional Information</a>
      <a href="#resume" class="list-group-item list-group-item-action bg-light">Resume</a>
      <a href="#personality" class="list-group-item list-group-item-action bg-light">Personality</a>
    </div>
  </div>

<div id="page-content-wrapper profile">
    <div class= "main">
<div class="container-fluid">
    <div class="job-post-item-header d-flex align-items-center profile">
        <div class = "row mb-1 profile">
            <div class = "col-4 text-dark profile">
                <h2 class="mr-3 text-black h3 profile">Profile</h2>
            </div>
            <br><br>
            <div class="col-4 profile">
                <button type="button" class="btn btn-primary mr-3" onclick="update()">Edit Profile</button>
            </div>
        </div>
        
    </div>
    <div class="p-5 bg-white profile">
        <h2 class="mr-3 text-black h5">Make your profile available for</h2>
        <div class="row mb-1">
            <div class="col-5 text-dark">
                {% if employee.full_time and employee.part_time %}
                <input class="form-control w-75" placeholder="Full Time & Part Time" disabled>
                {% elif employee.full_time %}
                <input class="form-control w-75" placeholder="Full Time" disabled>
                {% elif employee.part_time %}
                <input class="form-control w-75" placeholder="Part Time" disabled>
                {% else %}
                <input class="form-control w-75" placeholder="Not Available" disabled>
                {% endif %}
        </div>
        </div>
    </div>



    {% csrf_token %}
    <span class = "border profile">
    <div id="personal_details">
    <div class="p-5 bg-white profile">
  
        <h2 class="mr-3 text-black h5">Personal Details</h2>
        <br>
        <div class="row mb-1">
            <div class="col-10 text-dark">
                <label>Name</label><br>
                <input class="form-control w-75" placeholder="{{ employee.name }}" disabled>
            </div>
        </div>
        <br>
        <div class="row mb-1">
            <div class="col-6 text-dark">
                <label>Phone Number</label><br>
                <input class="form-control w-75" placeholder="{{ employee.phone_Number }}" disabled>
            </div>
            <div class="col-6 text-dark">
                <label>Nationality</label><br>
                <input class="form-control w-75" placeholder="{{ employee.nationality }}" disabled>
            </div>
        </div>
        <br>
        <div class="row mb-1">
            <div class="col-12 text-dark">
                <label>Address</label><br>
                <input class="form-control w-75" placeholder="{{ employee.address }}" disabled>
            </div>
        </div>
        <br>
        <div class="row mb-1">
            <div class="col-6 text-dark">
                <label>City</label><br>
                <input class="form-control w-75" placeholder="{{ employee.city }}" disabled>
            </div>
        </div>
    </div>
    </div>
</span>
<span class = "border profile">
        <div id="education">
    <div class="p-5 bg-white profile">
        
        <h2 class="mr-3 text-black h5">Education</h2>    
        <br><br>
        {% for object in employee_edu %}
        <div class="row mb-1">   
            <div class="col-10 text-dark">
                <label>University</label><br>
                <input class="form-control w-75" placeholder="{{ object.university }}" disabled>
            </div>
        </div>
        <br>
        <div class="row mb-1">
            <div class="col-10 text-dark">
                <label>University Location</label><br>
                <input class="form-control w-75" placeholder="{{ object.university_location }}" disabled>
            </div>
        </div>
        <br>
        <div class="row mb-1">
            <div class="col-10 text-dark">
                <label>Graduation Date</label><br>
                <input class="form-control w-75" placeholder="{{ object.graduation_date }}" disabled>
            </div>
        </div>
        <br>
        <div class="row mb-1">
            <div class="col-10 text-dark">
                <label>Qualification</label><br>
                <input class="form-control w-75" placeholder="{{ object.qualification }}" disabled>
            </div>
        </div>
        <br>
        <div class="row mb-1">
            <div class="col-10 text-dark">
                <label>Field of Study</label><br>
                <input class="form-control w-75" placeholder="{{ object.field_of_study }}" disabled>
            </div>
        </div>
        <br>
        <div class="row mb-1">
            <div class="col-10 text-dark">
                <label>Title</label><br>
                <input class="form-control w-75" placeholder="{{ object.title }}" disabled>
            </div>
        </div>
        <br>
        <div class="row mb-1">
            <div class="col-10 text-dark">
                <label>Grade</label><br>
                <input class="form-control w-75" placeholder="{{ object.grade }}" disabled>
            </div> 
        </div><br><br>
        <hr class = "solid">
        {% endfor %}
    </div>
        </div>
        
</span>
<span class = "border profile">
        <div id="skills">
    <div class="p-5 bg-white profile">
        <h2 class="mr-3 text-black h5">Skills</h2>
        <br>
        <div class="row mb-1">
            <div class="col-10 text-dark">
                <label>Skills</label><br>
                <input class="form-control w-75" placeholder="{{ employee.skills }}" disabled>
            </div>
        </div>
        <br>
        <div class="row mb-1">
            <div class="col-10 text-dark">
                <label>Languagues</label><br>
                <input class="form-control w-75" placeholder="{{ employee.languages }}" disabled>
            </div>
        </div>
    </div>
        </div>
</span>  
    <span class = "border profile">
        <div id="experience">
                <div class="p-5 bg-white profile">
        <h2 class="mr-3 text-black h5">Working Experience</h2>
        <br>
        {% for object in employee_exp %}
        <div class="row mb-1">
            <div class="col-10 text-dark">
                <label>Position Title</label><br>
                <input class="form-control w-75" placeholder="{{ object.position_title }}" disabled>
            </div>
        </div>
        <br>
        <div class="row mb-1">
            <div class="col-10 text-dark">
                <label>Company Name</label><br>
                <input class="form-control w-75" placeholder="{{ object.company_name }}" disabled>
            </div>
        </div>
        <br>
        <div class="row mb-1">
            <div class="col-10 text-dark">
                <label>Country</label><br>
                <input class="form-control w-75" placeholder="{{ object.country }}" disabled>
            </div>
        </div>
        <br>
        <div class="row mb-1">
            <div class="col-10 text-dark">
                <label>Duration</label><br>
                <input class="form-control w-75" placeholder="{{ object.duration }}" disabled>
            </div>
        </div>
        <br>
        <div class="row mb-1">
            <div class="col-10 text-dark">
                <label>Specialization</label><br>
                <input class="form-control w-75" placeholder="{{ object.specialization }}" disabled>
            </div>
        </div>
        <br>
        <div class="row mb-1">
            <div class="col-10 text-dark">
                <label>Industry</label><br>
                <input class="form-control w-75" placeholder="{{ object.industry }}" disabled>
            </div>
        </div>
        <br>
        <div class="row mb-1">
            <div class="col-10 text-dark">
                <label>Position Level</label><br>
                <input class="form-control w-75" placeholder="{{ object.position_level }}" disabled>
            </div>
        </div>
        <br>
        <div class="row mb-1">
            <div class="col-10 text-dark">
                <label>Description</label><br>
                <input class="form-control w-75" placeholder="{{ object.description }}" disabled>
            </div>
        </div>
        <br><br>
        <hr class = "solid">
        {% endfor %}
        </div>
        </div>
        
    </span>
    <span class = "border profile">
        <div id="add_info">
                <div class="p-5 bg-white profile">
        <h2 class="mr-3 text-black h5">Additional Information</h2>
        <br>
        <div class="row mb-1">
            <div class="col-4 text-dark">
                <label>Preferred work location</label><br>
                <input class="form-control w-75" placeholder="{{ employee.prefered_work_location }}" disabled>
            </div>
        </div>
        <br>
        <div class="row mb-1">
            <div class="col-4 text-dark">
                <label>Expected Salary</label><br>
                <input class="form-control w-75" placeholder="{{ employee.expected_salary }}" disabled>
            </div>
        </div>
    </div>
        </div>
    </span>
    <span class = "border profile">
        <div id="resume">
                <div class="p-5 bg-white profile">
        <h2 class="mr-3 text-black h5">Resume</h2>
        <br>
        <div class="row mb-1">
            <div class="col-4 text-dark">
                <label>Resume</label><br>
                <input class="form-control w-75" placeholder="{{ employee.resume }}" disabled>
            </div>
        </div>
                </div>
        </div>
    </span><div class="profile">
        <button type="button" class="btn btn-primary mr-3" onclick="update()">Edit Profile</button>
        </div>
</div>
    </div><br><br><br>
        
        
</div>
        
</div>

 <div class = "editprofile">
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Edit Profile </div>
        <div class="list-group list-group-flush">
          <a href="#epersonal_details" class="list-group-item list-group-item-action bg-light">Personal Details</a>
          <a href="#eeducation" class="list-group-item list-group-item-action bg-light">Education</a>
          <a href="#eskills" class="list-group-item list-group-item-action bg-light">Skills</a>
          <a href="#eexperience" class="list-group-item list-group-item-action bg-light">Working Experience</a>
          <a href="#eadd_info" class="list-group-item list-group-item-action bg-light">Additional Information</a>
          <a href="#eresume" class="list-group-item list-group-item-action bg-light">Resume</a>
          <a href="#epersonality" class="list-group-item list-group-item-action bg-light">Personality</a>
        </div>
      </div>
    
    <div id="page-content-wrapper">
        <div class= "main">
    <div class="container-fluid">
        
       
    <form action="{% url 'users:edit_profile' %}" method="post" class="p-5 bg-white" enctype="multipart/form-data" hidden>
        {% csrf_token %}

<div class="job-post-item-header d-flex align-items-center">
            <div class = "row mb-1">
                <div class = "col-8 text-dark">
                    <h4 class="mr-3 text-black editprofile">EditProfile</h4>
                </div>
                <br><br>
                
            </div>
            
        </div>

        <div class="p-5 bg-white editprofile">
            <h2 class="mr-3 text-black h5">Make your profile available for</h2>
            <div class="row mb-1">
                <div class="col-10 text-dark">
            {{ profileform.full_time|as_crispy_field }}
            {{ profileform.part_time|as_crispy_field }}
            </div>
            </div>
        </div>

    <div id = "epersonal_details">
        <div class="p-5 bg-white editprofile">
        <h2 class="mr-3 text-black h5 editprofile">Personal Details</h2><br>
        <div class="row mb-2">
            <div class="col-10 text-dark">
              
                {{ profileform.name|as_crispy_field }}
            </div>
        </div>     
        <br>
        <div class="row mb-2">
            <div class="col-6 text-dark">
                
                {{ profileform.phone_Number|as_crispy_field }}
            </div>
            <div class="col-6 text-dark">
                
                {{ profileform.nationality|as_crispy_field }}
            </div>
        </div>
        <br>
        <div class="row mb-2">
            <div class="col-12 text-dark">
 
                {{ profileform.address|as_crispy_field }}
            </div>
        </div>
        <br>
        <div class="row mb-2">
            <div class="col-6 text-dark">
  
                {{ profileform.city|as_crispy_field }}
                
            </div>
        </div>
    </div>
</div>
<br><br>
<span class="border editprofile">   
    <div id = "eeducation">
        <div class="p-5 bg-white editprofile">
        <div class="row mb-1">
            <div class="col-6 text-dark">
                <h2 class="mr-3 text-black h5 editprofile">Education</h2><br>
            </div>
            <div class="col-6 text-dark">
            <button class="btn btn-success add-form-row">Add Education</button>
            </div>
        </div>
        {{ eduformset.management_form }}
        {% for eduform in eduformset %} 
        
        <div class="row form-row spacer education">
            <div id = "edu_form_set">
                 
        <div class="row mb-2">
            <div class="col-10 text-dark">
                      
                {{ eduform.university|as_crispy_field }}
            </div>
        </div>
        <br>
        <div class="row mb-2">
            <div class="col-10 text-dark">
                
                {{ eduform.university_location|as_crispy_field }}
            </div>
        </div>
        <br>
        <div class="row mb-2">
            <div class="col-10 text-dark">
                
                {{ eduform.graduation_date|as_crispy_field }}
            </div>
        </div>
        <br>
        <div class="row mb-2">
            <div class="col-10 text-dark">
                
                {{ eduform.qualification|as_crispy_field }}
            </div>
        </div>
        <br>
        <div class="row mb-2">
            <div class="col-10 text-dark">
                
                {{ eduform.field_of_study|as_crispy_field }}
            </div>
        </div>
        <br>
        <div class="row mb-2">
            <div class="col-10 text-dark">
                
                {{ eduform.title|as_crispy_field }}
            </div>
        </div>
        <br>
        <div class="row mb-2">
            <div class="col-10 text-dark">
                
                {{ eduform.grade|as_crispy_field }}
            </div>
        </div>
        <br><br>
        <hr class = "solid"></div>
        {% endfor %}
        <div class="row mb-1">
            <div class="col-6 text-dark">
                <button class="btn btn-danger remove-form-row">Remove</button>
            </div>
        </div>
    </div>
        </div>
        </div>
    
<br><br><br>
</span>  
<span class="border editprofile">
        <div id = "eskills">
            <div class="p-5 bg-white editprofile">
            <h2 class="mr-3 text-black h5 editprofile">Skills</h2><br>
        <div class="row mb-2">
            <div class="col-10 text-dark">
       
                {{ profileform.skills|as_crispy_field }}
            </div>
        </div>
        <br>
        <div class="row mb-2">
            <div class="col-10 text-dark">
                
                {{ profileform.languages|as_crispy_field }}
            </div>
        </div>
        </div>
        <br><br><br><br>
        </div>
    </span>
    <span class ="border editprofile">
        <div id = "eexperience">
            <div class="p-5 bg-white editprofile">
            <br><br>
            <div class="row mb-1">
                <div class="col-6 text-dark">
                    <h2 class="mr-3 text-black h5 editprofile">Working Experience</h2><br>
                </div>
                <div class="col-6 text-dark">
                    <button class="btn btn-success expadd-form-row">Add Experience</button>
                </div>
            </div>
            {{ expformset.management_form }}
            {% for expform in expformset %}
            <div class="row form-row spacer experience">
                <div id = "exp_form_set">
            <div class="row mb-2">
                <div class="col-10 text-dark">
                    
                    {{ expform.position_title|as_crispy_field }}
                </div>
            </div>     
            <br>
            <div class="row mb-2">
                <div class="col-10 text-dark">
                    
                    {{ expform.company_name|as_crispy_field }}
                </div>
            </div>     
            <br>
            <div class="row mb-2">
                <div class="col-10 text-dark">
                  
                    {{ expform.country|as_crispy_field }}
                </div>
            </div>     
            <br>
            <div class="row mb-2">
                <div class="col-10 text-dark">
                    
                    {{ expform.duration|as_crispy_field }}
                </div>
            </div>     
            <br>
            <div class="row mb-2">
                <div class="col-10 text-dark">
                   
                    {{ expform.specialization|as_crispy_field }}
                </div>
            </div>     
            <br>
            <div class="row mb-2">
                <div class="col-10 text-dark">
                    
                    {{ expform.industry|as_crispy_field }}
                </div>
            </div>     
            <br>
            <div class="row mb-2">
                <div class="col-10 text-dark">
                    
                    {{ expform.position_level|as_crispy_field }}
                </div>
            </div>     
            <br>
            <div class="row mb-2">
                <div class="col-10 text-dark">
                    
                    {{ expform.description|as_crispy_field }}
                </div>
            </div> 
            <br><br>
            <hr class = "solid">  
        </div> 
            {% endfor %} 
            <a href="javascript:void(0)" class="expremove-form-row">Remove</a>
            </div><br><br>
        </div>
    </div>
    <br><br>
      </span>
      <span class="border editprofile">  
        <div id = "eadd_info">
            <div class="p-5 bg-white editprofile">
            <h2 class="mr-3 text-black h5 editprofile">Additional Information</h2><br>
        <div class="row mb-2">
            <div class="col-6 text-dark">
                
                {{ profileform.prefered_work_location|as_crispy_field }}
            </div>
        </div>
        <br>
        <div class="row mb-2">
            <div class="col-6 text-dark">
                
                {{ profileform.expected_salary|as_crispy_field }}
            </div>
        </div>
        </div>
        </div>
        </span>

        <br><br>
        <span class="border editprofile">
        <div id = "eresume">
            <div class="p-5 bg-white editprofile">
            <h2 class="mr-3 text-black h5 editprofile">Uploaded Resume</h2><br>
        <div class="row mb-2">
            <div class="col-6 text-dark">
                
                {{ profileform.resume|as_crispy_field }}
            </div>
        </div>
        </div>
        </div>
        </span>
        <div class="row mb-2">
            <div class="col-6 text-dark">
        <br><br><br>
        <button type="submit" class="btn btn-primary mr-3">Save</button>
        <a href="{% url 'users:edit_profile' %}" class="btn btn-danger">Cancel</a>
            </div>
        </div>
    </div>
    
    </form>
    </div>

    </div>
    </div>



<script type="text/javascript">
function update() {
    $(".profile").hide();
    $("form").prop("hidden", false);
}
</script>

<script type="text/javascript">
    $(function() {
        $("#edu_form_set").formset({
            prefix: "{{ eduformset.prefix }}",
        })
        $("#exp_form_set").formset({
            prefix: "{{ expformset.prefix }}",
        })
    })    
</script>

<script type='text/javascript'>
    function updateElementIndex(el, prefix, ndx) {
        var id_regex = new RegExp('(' + prefix + '-\\d+)');
        var replacement = prefix + '-' + ndx;
        if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
        if (el.id) el.id = el.id.replace(id_regex, replacement);
        if (el.name) el.name = el.name.replace(id_regex, replacement);
    }
    function cloneMore(selector, prefix) {
        var newElement = $(selector).clone(true);
        var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
        newElement.find(':input:not([type=button]):not([type=submit]):not([type=reset])').each(function() {
            if($(this).attr("name")!==undefined){
            var name = $(this).attr('name').replace('-' + (total-1) + '-', '-' + total + '-');}
            var id = 'id_' + name;
            $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
        });
        newElement.find('label').each(function() {
            var forValue = $(this).attr('for');
            if (forValue) {
              forValue = forValue.replace('-' + (total-1) + '-', '-' + total + '-');
              $(this).attr({'for': forValue});
            }
        });
        total++;
        $('#id_' + prefix + '-TOTAL_FORMS').val(total);
        $(selector).after(newElement);
        var conditionRow = $('.form-row.education:not(:last)');
        conditionRow.find('.btn.add-form-row')
        .removeClass('btn-success').addClass('btn-danger')
        .removeClass('add-form-row').addClass('remove-form-row')
        .html('<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>');
        return false;
    }
    function deleteForm(prefix, btn) {
        var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
        if (total > 1){
            btn.closest('.form-row.education').remove();
            var forms = $('.form-row.education');
            $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
            for (var i=0, formCount=forms.length; i<formCount; i++) {
                $(forms.get(i)).find(':input').each(function() {
                    updateElementIndex(this, prefix, i);
                });
            }
        }
        return false;
    }
    
    
    $(document).on('click', '.add-form-row', function(e){
        e.preventDefault();
        cloneMore('.form-row.education:last', 'edufs');
       
        return false;
    });
    $(document).on('click', '.remove-form-row', function(e){
        e.preventDefault();
        deleteForm('edufs', $(this));
        return false;
    });

    function expdeleteForm(prefix, btn) {
        var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
        if (total > 1){
            btn.closest('.form-row.experience').remove();
            var forms = $('.form-row.experience');
            $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
            for (var i=0, formCount=forms.length; i<formCount; i++) {
                $(forms.get(i)).find(':input').each(function() {
                    updateElementIndex(this, prefix, i);
                });
            }
        }
        return false;
    }
    function expcloneMore(selector, prefix) {
        var newElement = $(selector).clone(true);
        var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
        newElement.find(':input:not([type=button]):not([type=submit]):not([type=reset])').each(function() {
            var name = $(this).attr('name').replace('-' + (total-1) + '-', '-' + total + '-');
            var id = 'id_' + name;
            $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
        });
        newElement.find('label').each(function() {
            var forValue = $(this).attr('for');
            if (forValue) {
              forValue = forValue.replace('-' + (total-1) + '-', '-' + total + '-');
              $(this).attr({'for': forValue});
            }
        });
        total++;
        $('#id_' + prefix + '-TOTAL_FORMS').val(total);
        $(selector).after(newElement);
        var conditionRow = $('.form-row.experience:not(:last)');
        conditionRow.find('.btn.expadd-form-row')
        .removeClass('btn-success').addClass('btn-danger')
        .removeClass('expadd-form-row').addClass('expremove-form-row')
        .html('<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>');
        return false;
    }
    $(document).on('click', '.expadd-form-row', function(e){
        e.preventDefault();
        expcloneMore('.form-row.experience:last', 'expfs');
        return false;
    });
    $(document).on('click', '.expremove-form-row', function(e){
        e.preventDefault();
        expdeleteForm('expfs', $(this));
        return false;
    });
    

    </script>

{% endblock %}