<select class="subhome custom-select mr-2" name="home" required hidden disabled>
    <option value="" disabled selected>-- Select service type--</option>
    <option value="Catering">Catering</option>
    <option value="Cleaning">Cleaning</option>
    <option value="Plumbing">Plumbing</option>
    <option value="Pet Grooming">Pet Grooming</option>
    <option value="Lighting & Wiring">Lighting & Wiring</option>
    <option value="Renovation & Improvement">Renovation & Improvement</option>
</select>
<select class="subevents custom-select mr-2" name="events" required disabled hidden>
    <option value="" disabled selected>-- Select service type--</option>
    <option value="Catering">Catering</option>
    <option value="Wedding">Wedding</option>
    <option value="Entertainment">Entertainment</option>
    <option value="Beauty & Salon">Beauty & Salon</option>
    <option value="Photographers & Videographers">Photographers & Videographers</option>
</select>
<select class="subhealth custom-select mr-2" name="health" required disabled hidden>
    <option value="" disabled selected>-- Select service type--</option>
    <option value="Personal Training">Personal Training</option>
    <option value="Rehabilitation & Wellness">Rehabilitation & Wellness</option>
</select>
<select class="suboffice custom-select mr-2" name="office" required disabled hidden>
    <option value="" disabled selected>-- Select service type--</option>
    <option value="Pest Control">Pest Control</option>
    <option value="Office Maintenance">Office Maintenance</option>
    <option value="Office Space Rental">Office Space Rental</option>
    <option value="Hardware/Software Support">Hardware/Software Support</option>
</select>
<select class="sublessons custom-select mr-2" name="lessons" required disabled hidden>
    <option value="" disabled selected>-- Select service type--</option>
    <option value="Academic">Academic</option>
    <option value="Professional">Professional</option>
    <option value="Lifestyle & Hobby">Lifestyle & Hobby</option>
</select>